
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Profil utilisateur ! </h1>
    <p class="lead">En savoir plus sur l'auteur</p>
  </div>
</div>

<div class="card text-center">
  <div class="card-header">
    <h2> <%= @user.first_name %> <%= @user.last_name %></h2>
  </div>
  <div class="card-body">
    <p class="card-text"><strong>Âge :</strong> <%= @user.age %><br/>
    <strong>Ville :</strong> <a href="<%= city_path %>"> <%= @user.city.name %> </a> <br/>
    <strong>Ma vie, mon oeuvre :</strong> <%= @user.description %></p>
  </div>
  <div class="card-footer text-muted">
    <h4> <%= @user.email %> </h4>
  </div>
</div>